{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% include 'Partial/flash_messages.html.twig' %}

        {% block main %}{% endblock %}
    </div>
{% endblock %}
