{% extends 'Page/base.html.twig' %}

{% block title %}Listing of tasks{% endblock %}

{% block main %}

    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        {{ form(form) }}
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body rounded">

        <table class="table table-bordered table-responsive">

            <caption>TaskLists</caption>

            <tr>
                <th>Title</th>
                <th style="width: 125px"></th>
                <th style="width: 125px"></th>
            </tr>

            {% for taskList in taskLists %}
                <tr>
                    <th>{{ taskList.title }} <span class="badge rounded-pill bg-danger">{{ taskList.countTasks }}</span></th>
                    <td>
                        <a class="btn btn-primary" href="{{ path('front_taskList_show', {'id': taskList.id}) }}">Show</a>
                    </td>
                    <td>
                        {{ form(deleteForms[taskList.id]) }}
                    </td>
                </tr>
            {% endfor %}

        </table>

    </div>

{% endblock %}
