{% extends 'Page/base.html.twig' %}

{% block title %}Create task{% endblock %}

{% block main %}
    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        {{ form(form) }}
    </div>
{% endblock %}
