{% extends 'Page/base.html.twig' %}

{% block title %}TaskList {{ taskList.title }}{% endblock %}

{% block main %}

    <div class="shadow-lg p-3 mb-5 bg-body rounded text-end">
        <a class="btn btn-success" href="{{ path('front_homepage') }}">Back to homepage</a>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body rounded">
        {{ form(form) }}
    </div>

    <div class="shadow-lg p-3 mb-5 bg-body rounded">

        <a class="btn btn-outline-primary" href="{{ path('front_task_create', {'id': taskList.id}) }}">Create a task</a>

        <table class="table table-bordered my-3">

            <caption>TaskList : {{ taskList.title }}</caption>

            <tr>
                <th>Title</th>
                <th style="width: 125px"></th>
                <th style="width: 140px"></th>
            </tr>

            {% for task in taskList.tasks %}
                <tr>
                    <th class="{{ task.state ? 'alert-secondary text-decoration-line-through' : 'alert-danger' }}">{{ task.title }}</th>
                    <td>
                        <a class="btn btn-primary" href="{{ path('front_task_edit', {'id': task.id}) }}">Edit</a>
                    </td>
                    <td>{{ form(toggleTaskForms[task.id]) }}</td>
                </tr>
            {% endfor %}
        </table>

        {{ form(deleteAllTasksPerformedForm) }}
    </div>

{% endblock %}
