<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="ideveloppement technical test">
        <meta name="author" content="David Dadon <david.dadon@ipnoz.net>">

        <title>{% block title %}Welcome!{% endblock %} - ideveloppement</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/bootstrap-5.1.3/bootstrap.min.css') }}" />
        <script src="{{ asset('assets/vendor/bootstrap-5.1.3/bootstrap.bundle.min.js') }}" defer></script>

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
